<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Private Suite" parallel="tests" thread-count="2">




<!-- *******************Private Farm Parameters*******************-->


	<test name="HUAWEI_Honor8X_Android_10.0.0_d9d1b">
		
	    <parameter name="apiKey" value="3wq7qph62473cbmyf4yw5y74" />
		<parameter name="devicefullname" value="HUAWEI_Honor8X_Android_10.0.0_d9d1b" />
		<parameter name="platformVersion" value="10.0.0" />
		<parameter name="appiumEndPoint" value="https://qkm1vil.qualitykiosk.com/appiumcloud/wd/hub" />
		
		<classes>
			<class name="com.qkm1.test.Sample" />
		</classes>
	</test>

	 <test name="ONEPLUS_7_Android_9.0.0_c4520">
		
		<parameter name="apiKey" value="3wq7qph62473cbmyf4yw5y74" />
		<parameter name="devicefullname" value="SAMSUNG_GalaxyA10s_Android_9.0.0_92e72" />
		<parameter name="platformVersion" value="9.0.0" />
		<parameter name="appiumEndPoint" value="https://qkm1vil.qualitykiosk.com/appiumcloud/wd/hub" />
		<classes>
			<class name="com.qkm1.test.Sample" />
		</classes>
		
  	</test>

</suite>